{% set share_page_url = post.link %}
{% set share_page_title = post.title %}

<div class="single-share-menu" data-ak-share-menu>
  <button
    type="button"
    class="single-share-menu__trigger"
    data-ak-share-toggle
    aria-expanded="false"
    aria-haspopup="true"
    aria-controls="single-share-menu-panel"
    aria-label="اشتراک‌گذاری"
  >
    <svg class="single-share-menu__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" aria-hidden="true" focusable="false">
      <path fill="currentColor" d="M307 34.8c-11.5 5.1-19 16.6-19 29.2l0 64-112 0C78.8 128 0 206.8 0 304C0 417.3 81.5 467.9 100.2 478.1c2.5 1.4 5.3 1.9 8.1 1.9c10.9 0 19.7-8.9 19.7-19.7c0-7.5-4.3-14.4-9.8-19.5C108.8 431.9 96 414.4 96 384c0-53 43-96 96-96l96 0 0 64c0 12.6 7.4 24.1 19 29.2s25 3 34.4-5.4l160-144c6.7-6.1 10.6-14.7 10.6-23.8s-3.8-17.7-10.6-23.8l-160-144c-9.4-8.5-22.9-10.6-34.4-5.4z"/>
    </svg>
    <span class="single-share-menu__label">اشتراک‌گذاری</span>
  </button>
  <div
    id="single-share-menu-panel"
    class="single-share-menu__panel"
    data-ak-share-panel
    role="menu"
    hidden
  >
    <button
      type="button"
      class="single-share-menu__item"
      role="menuitem"
      data-ak-share-copy
      data-share-url="{{ share_page_url }}"
    >
      کپی لینک
    </button>
    <a
      href="https://t.me/share/url?url={{ share_page_url|url_encode }}&text={{ share_page_title|url_encode }}"
      class="single-share-menu__item"
      role="menuitem"
      target="_blank"
      rel="noopener noreferrer"
    >
      تلگرام
    </a>
    <a
      href="https://twitter.com/intent/tweet?url={{ share_page_url|url_encode }}&text={{ share_page_title|url_encode }}"
      class="single-share-menu__item"
      role="menuitem"
      target="_blank"
      rel="noopener noreferrer"
    >
      X (Twitter)
    </a>
    <a
      href="mailto:?subject={{ share_page_title|url_encode }}&body={{ share_page_url|url_encode }}"
      class="single-share-menu__item"
      role="menuitem"
    >
      ایمیل
    </a>
  </div>
  <span class="single-share-menu__status sr-only" data-ak-share-status aria-live="polite"></span>
</div>
