{% extends 'base.twig' %}
{% import 'partials/macros.twig' as ak %}

{% block before_main %}
  {% include 'partials/layout-zone.twig' with { zone: 'before_main' } %}
{% endblock %}

{% block content %}
{% embed 'partials/layout-shell.twig' with { shell: 'single' } %}
  {% block system_content %}
    <article class="magazine-single">
      <header class="magazine-single__head">
        <h1>{{ post.title }}</h1>
        <time datetime="{{ post.date('c') }}">{{ ak_post_date(post) }}</time>
      </header>
      <figure class="magazine-single__cover">
        <img src="{{ ak_post_image_url(post) }}" alt="{{ post.title }}" width="800" height="1066" loading="eager" decoding="async" />
      </figure>
    </article>
  {% endblock %}
{% endembed %}
{% endblock %}
